@model IEnumerable<Obra>
@{
    ViewData["Title"] = "MEU FISCAL";
}

<div class="row">

    <section class="col-12 col-sm-3">
        <a asp-controller="Obra" asp-action="NovaObra">
            <p type="button" class="btn btn-primary" style="width: 100%">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-folder-plus" viewBox="0 0 16 16">
                    <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z" />
                    <path d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z" />
                </svg>
                NOVA OBRA
            </p>
        </a>
    </section>

    <section class="col-12">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">ID Obra</th>
                    <th>Estatus</th>
                    <th>Endereço</th>
                    <th>Bairro</th>
                    <th>Agente</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var Item in Model)
                {
                    <tr>
                        <td class="align-middle text-center">@Item.Id</td>

                        @if(Item.Risco == "SIM")
                        {
                            <td class="align-middle text-center risco" style="border:solid 2px red;">
                                RISCO
                            </td>
                        }
                        else
                        {
                            <td class="align-middle">@Item.Estatus.ToUpper()</td>
                        }
                        
                        <td class="align-middle">@Item.Endereco.ToUpper()</td>
                        <td class="align-middle">@Item.Bairro.ToUpper()</td>
                        <td class="align-middle">@Item.Fiscal.ToUpper()</td>
                        <td class="align-middle text-center">
                            <a asp-controller="Obra" asp-action="Editar" asp-route-id="@Item.Id" class="btn btn-secondary" style="width: 45%">EDITAR</a>

                            @if(!(Item.Risco == "" || Item.Risco == null))
                            {
                                <a asp-controller="Obra" asp-action="Avaliacao" asp-route-id="@Item.Id" class="btn btn-success" style="width: 45%">AVALIAÇÃO</a>
                            }
                            else
                            {
                                <a asp-controller="Obra" asp-action="Avaliar" asp-route-id="@Item.Id" class="btn btn-primary" style="width: 45%">AVALIAR</a>
                            }
                            
                        </td>
                    </tr>

                }

            </tbody>
        </table>

    </section>

</div>
